.meme {
    max-width: 500px;
    height: 500px;
    border-width: 5px;
    border-color:black;
    border-style: solid;
    background-size:cover;
    background-repeat:no-repeat;
    background-position: center;
    position: relative;
    justify-content: center;
}
div.top-text {
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4em;
    position: absolute;
    top:0;
    width: 100%;
}
div.bottom-text {
    text-align: center;
    justify-content: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4em;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.removeBtn {
    position: absolute;
}